#!/usr/bin/make -f
export DH_VERBOSE = 1

%:
	dh $@

debarch!= dpkg --print-architecture
# Prefer the TrueNAS kernel image but fall back to the generic image.
image!= apt info 'linux-image-truenas-$(debarch)' 'linux-image-$(debarch)' | \
	awk '/^Package:/ { print $$2; exit }'

ifneq (,$(findstring truenas,$(image)))
	# TrueNAS kernel image *is not* a metapackage
	vers!= apt info $(image) | awk '/^Source:/ { print $$2 }' | \
		sed 's/linux-//'
	obj= linux-headers-$(vers)
	src= $(obj)
	kmod= kmod-zfs-$(vers)
else
	# Debian kernel image *is* a metapackage
	krn!= apt info $(image) | awk '/^Depends:/ { print $$2 }'
	obj= $(subst image,headers,$(krn))
	src= $(subst $(debarch),common,$(obj))
	kmod= kmod-zfs-$(subst linux-image-,,$(krn))
endif

override_dh_auto_configure:
	dh_auto_configure -- \
		--enable-debuginfo \
		--with-linux=/usr/src/${src} \
		--with-linux-obj=/usr/src/${obj}

override_dh_auto_test:

override_dh_shlibdeps:

override_dh_auto_install:

override_dh_gencontrol:
	echo kmod=$(kmod) >> debian/openzfs.substvars
	dh_gencontrol

override_dh_builddeb:
	$(MAKE) deb-kmod deb-utils
	mv *.deb ../
	mv ../openzfs-build-deps-depends_*.deb ./
	dh_builddeb
