multipath     no
topology      sas_direct
phys_per_port 4

# Additionally create /dev/by-enclosure/ symlinks for enclosure devices
enclosure_symlinks	yes

#       PCI_ID  HBA PORT  CHANNEL NAME
channel 85:00.0 1         A
channel 85:00.0 0         B
channel 86:00.0 1         C
channel 86:00.0 0         D


# Custom mapping for Channel A

#    Linux      Mapped
#    Slot       Slot      Channel
slot 1          7         A
slot 2          10        A
slot 3          3         A
slot 4          6         A

# Default mapping for B, C, and D
slot 1          4
slot 2          2
slot 3          1
slot 4          3
