Source: zfs-linux
Section: kernel
Priority: extra
Maintainer: Darik Horn <dajhorn@vanadac.com>
Build-Depends: autotools-dev, debhelper (>= 7.4), dkms (>> 2.1.1.2-5ubuntu1), gawk, uuid-dev, zlib1g-dev
Standards-Version: 3.8.4
Vcs-Git: git://github.com/dajhorn/pkg-zfs.git
Vcs-Browser: http://github.com/dajhorn/pkg-zfs

Package: libavl0
Architecture: linux-any
Depends: ${misc:Depends}
Conflicts: libavl1
Replaces: zfs-lib
Description: OpenSolaris AVL tree manipulation library for Linux

Package: libefi0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: OpenSolaris EFI library for Linux

Package: libnvpair0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: OpenSolaris name-value library for Linux

Package: libspl0
Architecture: linux-any
Depends: ${misc:Depends}
Conflicts: spl-dev
Replaces: zfs-lib
Description: Solaris Portability Layer library for Linux

Package: libunicode0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: OpenSolaris unicode library for Linux

Package: libuutil0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: OpenSolaris userland utility library for Linux

Package: libzfs-dev
Architecture: linux-any
Depends: ${misc:Depends}, libzfs0 (= ${binary:Version})
Provides: libnvpair-dev, libuutil-dev
Replaces: zfs-lib
Description: Native ZFS filesystem development files for Linux
 Header files and static libraries for compiling software
 against libzfs.

Package: libzfs0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: Native ZFS filesystem library for Linux

Package: libzpool0
Architecture: linux-any
Depends: ${misc:Depends}
Replaces: zfs-lib
Description: Native ZFS pool library for Linux

Package: zfs-dkms
Architecture: linux-any
Pre-Depends: spl-dkms
Depends: ${misc:Depends}, dkms (>> 2.1.1.2-5ubuntu1)
Replaces: lzfs, lzfs-dkms
Provides: lzfs, lzfs-dkms
Conflicts: lzfs, lzfs-dkms
Description: Native ZFS filesystem kernel modules for Linux

Package: zfs-initramfs
Architecture: linux-any
Depends: ${misc:Depends}, mountall (>= 2.18), gawk, zfsutils
Description: Native ZFS root filesystem capabilities for Linux

Package: zfsutils
Architecture: linux-any
Depends: ${shlibs:Depends}, ${misc:Depends}
Recommends: zfs-dkms
Suggests: zfs-initramfs
Conflicts: zfs, zfs-fuse
Replaces: zfs
Description: Native ZFS management utilities for Linux
