Source: zfs-linux
Section: kernel
Priority: extra
Maintainer: Darik Horn <dajhorn@vanadac.com>
Build-Depends: autotools-dev, debhelper (>= 7.4), dkms (>> 2.1.1.2-5ubuntu1), uuid-dev, zlib1g-dev
Standards-Version: 3.8.4
Vcs-Git: git://github.com/dajhorn/pkg-zfs.git
Vcs-Browser: http://github.com/dajhorn/pkg-zfs

Package: libavl0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: libavl1
Replaces: zfs-lib
Description: OpenSolaris AVL tree manipulation library for Linux
 Adelson-Velskii Landis balanced binary tree manipulation library.

Package: libefi0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: OpenSolaris EFI library for Linux
 Extensible Firmware Interface library for GUID disk partitioning.

Package: libnvpair0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: OpenSolaris name-value library for Linux
 This library provides routines for packing and unpacking nv pairs for
 transporting data across process boundaries, transporting between
 kernel and userland, and possibly saving onto disk files.

Package: libshare0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: Solaris network sharing library for Linux
 This library provides NFS and SMB service integration for
 ZFS filesystems.

Package: libspl0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Conflicts: spl-dev
Replaces: zfs-lib
Description: Solaris Portability Layer library for Linux
 The Solaris Porting Layer (SPL) library provides APIs that make it
 possible to run Solaris user code in a Linux environment with
 relatively minimal modification.

Package: libunicode0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: OpenSolaris unicode library for Linux
 This library provides UTF-8 text preparation functions and
 conversion functions for UTF-8, UTF-16, and UTF-32.

Package: libuutil0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: OpenSolaris userland utility library for Linux
 Solaris glue functions for ZFS.

Package: libzfs-dev
Section: libdevel
Architecture: linux-any
Depends: ${misc:Depends}, libzfs0 (= ${binary:Version})
Provides: libnvpair-dev, libuutil-dev
Replaces: zfs-lib
Description: Native ZFS filesystem development files for Linux
 Header files and static libraries for compiling software
 against libzfs.

Package: libzfs0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: Native ZFS filesystem library for Linux
 The zfs management library.

Package: libzpool0
Section: libs
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: zfs-lib
Description: Native ZFS pool library for Linux
 The zpool management library.

Package: zfs-dkms
Section: kernel
Architecture: linux-any
Pre-Depends: spl-dkms (>= ${source:Upstream-Version})
Depends: ${misc:Depends}, dkms (>> 2.1.1.2-5ubuntu1)
Replaces: lzfs, lzfs-dkms
Provides: lzfs, lzfs-dkms
Conflicts: lzfs, lzfs-dkms
Description: Native ZFS filesystem kernel modules for Linux
 An advanced integrated volume manager and filesystem.
 Includes the SPA, DMU, ZVOL, and ZPL components of ZFS.

Package: zfs-dracut
Section: kernel
Architecture: linux-any
Depends: ${misc:Depends}, dracut, zfsutils
Description: Native ZFS root filesystem capabilities for Linux
 This package adds ZFS to the system initramfs with a hook
 for the dracut infrastructure.

Package: zfs-initramfs
Section: kernel
Architecture: linux-any
Depends: ${misc:Depends}, mountall (>= 2.18), zfsutils, zfs-grub
Description: Native ZFS root filesystem capabilities for Linux
 This package adds ZFS to the system initramfs with a hook
 for the initramfs-tools infrastructure.

Package: zfsutils
Section: admin
Architecture: linux-any
Depends: ${misc:Depends}, ${shlibs:Depends}
Recommends: zfs-dkms
Suggests: zfs-initramfs
Conflicts: zfs, zfs-fuse
Replaces: zfs
Description: Native ZFS management utilities for Linux
 This package provides the zpool and zfs commands that are used to
 manage ZFS filesystems.
