# SPDX-License-Identifier: CDDL-1.0
#
# This file and its contents are supplied under the terms of the
# Common Development and Distribution License ("CDDL"), version 1.0.
# You may only use this file in accordance with the terms of version
# 1.0 of the CDDL.
#
# A full copy of the text of the CDDL should have accompanied this
# source.  A copy of the CDDL is also available via the Internet at
# https://opensource.org/license/CDDL-1.0.
#

#
# Copyright 2007 Sun Microsystems, Inc.  All rights reserved.
# Use is subject to license terms.
#
# The configX.cfg files describe both the dataset hierarchy to
# be created but also the initial source values for the datasets
# properties, i.e. whether they should be left with their default values
# or set locally.
#
# Format for this file is as follows:
#	<dataset name>	<dataset type> 	<initial property setting>
#
# <dataset name> - must be the full dataset name
#
# <dataset type> - recognised types are POOL, CTR and FS
#
#
# <initial property setting> - can have one of the following
# values:
#
#	default		property values are left unchanged
#
#	local		property values are set locally
#
#	  -		property values are left unchanged (has the
#			same effect as 'default' but is used to indicate
#			that the property 'source' field may be 'inherited
#			from..' depending on the actions further up the
#			dataset hierarchy.
#
#
# The configuration below creates a three tier dataset layout, consisting
# of a pool, container and filesystem.
#
# The top tier pool's properties being set locally, and the two
# lower tier properties each inheriting their values from the next tier
# up.
#

#
# Copyright (c) 2013 by Delphix. All rights reserved.
#

TESTPOOL                        POOL    local
TESTPOOL/TESTCTR                CTR     -
TESTPOOL/TESTCTR/TESTFS1        FS      -
