SUBSYSTEM!="block", GOTO="zfs_end"
ACTION!="add|change", GOTO="zfs_end"

ENV{ID_FS_TYPE}=="zfs", RUN+="/sbin/modprobe zfs zfs_arc_max=268435456 zfs_arc_min=0"
ENV{ID_FS_TYPE}=="zfs", RUN+="/sbin/zpool import -a"

ENV{ID_FS_TYPE}=="zfs_member", RUN+="/sbin/modprobe zfs zfs_arc_max=268435456 zfs_arc_min=0"
ENV{ID_FS_TYPE}=="zfs_member", RUN+="/sbin/zpool import -a"

LABEL="zfs_end"

