<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BuildMachineOSBuild</key>
	<string>14C1514</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>zfs</string>
	<key>CFBundleIdentifier</key>
	<string>org.openzfsonosx.zfs</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>zfs</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0.0</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>6C131e</string>
	<key>DTPlatformVersion</key>
	<string>GM</string>
	<key>DTSDKBuild</key>
	<string>12F37</string>
	<key>DTSDKName</key>
	<string>macosx10.8</string>
	<key>DTXcode</key>
	<string>0620</string>
	<key>DTXcodeBuild</key>
	<string>6C131e</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>org.openzfsonosx.zfs</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.openzfsonosx.zfs</string>
			<key>IOClass</key>
			<string>org_openzfsonosx_zfs_zvol</string>
			<key>IOMatchCategory</key>
			<string>org_openzfsonosx_zfs_zvol</string>
			<key>IOMediaIcon</key>
			<dict>
				<key>CFBundleIdentifier</key>
				<string>org.openzfsonosx.zfs</string>
				<key>IOBundleResourceFile</key>
				<string>VolumeIcon.icns</string>
			</dict>
			<key>IOProviderClass</key>
			<string>IOResources</string>
			<key>IOResourceMatch</key>
			<string>IOBSD</string>
		</dict>
		<key>org.openzfsonosx.zfs.ZFSDatasetProxy</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.openzfsonosx.zfs</string>
			<key>IOClass</key>
			<string>ZFSDatasetProxy</string>
			<key>IOProbeScore</key>
			<integer>1000</integer>
			<key>IOMatchCategory</key>
			<string>ZFSPool</string>
			<key>IOProviderClass</key>
			<string>ZFSPool</string>
		</dict>
		<key>org.openzfsonosx.zfs.ZFSDatasetScheme</key>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>org.openzfsonosx.zfs</string>
			<key>IOClass</key>
			<string>ZFSDatasetScheme</string>
			<key>IOProbeScore</key>
			<integer>5000</integer>
			<key>IOMatchCategory</key>
			<string>IOStorage</string>
			<key>IOPropertyMatch</key>
			<dict>
				<key>Whole</key>
				<true/>
			</dict>
			<key>IOProviderClass</key>
			<string>IOMedia</string>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>CDDL (ZFS), BSD (FreeBSD), Copyright © 2012-2021 OpenZFS on OS X. All rights reserved.</string>
	<key>OSBundleCompatibleVersion</key>
	<string>1.0.0</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOStorageFamily</key>
		<string>1.6</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>10.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
